h1 {
    color: rgba(121, 224, 24, 0.2);
    font-size: 60px ;
    font-style: italic;
}

p{
    font-size: 20 px;
    color: coral;
}

body {
    background-color: beige;
}

.listing{
    color: blueviolet;
}

li{
    font-style: italic;
}

li.listing{
    font-style: normal;
    color: aqua;
}

a{
    color: red;
}

button{
    
}